<!-- <div class="profile-settings inter-400">
    <a href="/u/<%# requser.userName %>">Go to my profile</a>
    <a href="/logout">Logout</a>
    <span onclick="hideProfileSettings()">Close</span>
</div> -->