<%- include('partials/header') -%>

<main id="main">
    <div id="mainContainer">
        <a href="/login" class=""> Login</a>
        <span>or</span>
        <a href="/signup" class=""> Create an account</a>
    </div>
</main>
    

<%- include('partials/footer') -%>