<%- include('partials/header') -%>

<main id="loginMain">
    <h1>Login to your progressio account</h1>
    <div id="loginContainer">
        <section>
            <% if (locals.messages.errors) { %>

                <% messages.errors.forEach( el => { %>
                    <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %>

            <% } %> 

            <% if (locals.messages.info) { %>

                <% messages.info.forEach( el => { %>
                    <div class="alert alert-info"><%= el.msg %></div>
                <% }) %>

            <% } %>
            <form action="/login" method="POST" id="loginForm">
                <div class="loginDiv">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="email"
                        placeholder="enter your email address"
                    />
                </div>
                <div class="loginDiv">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        name="password"
                        placeholder="enter your password"
                    />
                </div>
                <button type="submit" class="loginbtn">login</button>
            </form>
        </section>
        <a href="/signup" id="signupRedirect">Don't have an account?</a>
    </div>
</main>

<%- include('partials/footer') -%>
