/*** BASE STYLES ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body{
    background: #1c1e22;
}

.inter-200{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.inter-300{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
.inter-400{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.roboto-italic{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

/* .stop-scroll{
    height: 100%;
    overflow: hidden;
} */

/*** HEADER ***/

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    color: white;
    background: #30323a;
}

#logoInfo {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}

#logo {
    padding: 0 5px;
}

#appName {
    font-size: 3rem;
}

#search {
    display: none;
}

#notif {
    display: none;
}

#userInfo {
    width: 125px;
    display: flex;
    justify-content: space-evenly;
}
#header-userInfo{
    
}

#userInfo span {
    font-size: 30px;
    padding-top: 3px;
    color: white;
}

#userInfo svg {
    height: 35px;
    width: 28px;
    fill: white;
}

.profile-settings {
    /* transform: translateX(); */
    height: 0;
    width: 0;
    color: white;
    background: rgba(0, 0, 0, 0.496);
    position: absolute;
    transform: translate3d(100%, -70px, 0);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .4s ease-in-out;
    z-index: 1;
}

.profile-settings.hide {
    visibility: visible;
    height: 100vh;
    width: 100%;
    transform: translate3d(0, -70px, 0);
}

.profile-settings a,
.profile-settings span {
    font-size: 2.4rem;
    color: white;
    border-bottom: 2px solid white;
}

/*** PROFILE HEADER ***/
#header #username{
    font-size: 3.5rem;
    margin-left: 10px;
}

/*** INDEX ***/

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background: linear-gradient(to top right, #a57e7e, #384e97);
}

#mainContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
    padding: 15% 0;
    /* background: #00000070; */
    border-radius: 5px;
}

#mainContainer a {
    color: #ebebeb;
    padding: 15px 30px;
    width: 75%;
    text-align: center;
    font-size: 2rem;
    border-radius: 15px;
    border: 1px solid #ebebeb;
}

#mainContainer span {
    margin: 5% 0;
    font-size: 1.7rem;
    color: white;
}

/*** LOGIN ***/

#loginMain,
#signupMain {
    height: 91vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #1c1e22;
}

#loginMain h1, #signupMain h1{
    color: #ebebeb;
    font-size: 2.2rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-weight: 200;
}

#loginContainer,
#signupContainer {
    background: #30323a;
    padding: 10%;
    border-radius: 5px;
    margin: 0 10% 45px 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.alert-danger{
    color: #ebebeb;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.form-label {
    color: white;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: 400;
}

.loginDiv,
.signupDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.loginDiv input,
.signupDiv input {
    background: none;
    color: #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.loginbtn,
.signupbtn {
    color: #ebebeb;
    border: 1px solid #ebebeb;
    padding: 10px 0;
    width: 50%;
    margin-top: 10px;
    border-radius: 10px;
}

.form-text {
    color: white;
    font-size: 1.5rem;
    margin-top: 5px;
}

#loginRedirect,
#signupRedirect {
    align-self: center;
    margin-top: 25px;
    color: white;
    text-decoration: underline;
    font-size: 1.6rem;
}

/*** PROFILE ***/

#user-bio {
    display: flex;
    flex-direction: column;
    color: #ebebeb;
    padding-bottom: 10px;
}

#user-bio>section {
    display: flex;
    justify-content: space-around;
}

#user-name-container{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    justify-content: space-between;
}

#user-bio h1 {
    font-size: 3rem;
    font-weight: 300;
}
#user-name-container a{
    color: #ebebeb;
    border: 1px solid #ebebeb;
    font-size: 1.2rem;
    border-radius: 25px;
    padding: 10px 15px;
}

#profile-pic {
    width: 100px;
    height: 100px;
    border: 2px solid #ebebeb;
    border-radius: 50px;
}

#friend-count-container {
    display: flex;
    justify-content: flex-start;
    width: 235px;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

#friend-count {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

#friend-count div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#external-links {
    color: rgb(72, 99, 141);
    font-size: 1.7rem;
    margin-top: 10px;
}

.count {
    font-size: 1.8rem;
}

.count+span {
    font-size: 1.3rem;
}

#link-icon {
    font-size: 1.2rem;
    margin-left: 2px;
}

#bio-desc {
    padding: 0 8%;
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: 200;
}

#activ {
    padding: 0 8%;
}

#activ-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    font-weight: 400;
}
.edit-profile{
    color: #ebebeb;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid #cccfdb;
    width: 60%;
    padding: 10px 0;
    border-radius: 25px;
    margin: 10px 20% 0 20%;
}

#activ-list li {
    padding: 8px 10px;
    margin-right: 15px;
    border: 2px solid #ebebeb;
    border-radius: 15px;
    margin-bottom: 20px;
}

#activ-list a {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}

.reel-edit-btn {
    text-align: center;
    width: 60%;
    margin: 0px 20% 20px 20%;
    padding: 10px 0;
    border-radius: 5px;
    color: black;
    font-size: 1.4rem;
    background: #cccfdb;
    font-weight: 400;
}

#reel-form-container {
    background: #1c1e22;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    z-index: 1;
    flex-direction: column;
    padding: 20px;
}

.close-creation{
    height: 40px;
    width: 40px;
    fill: white;
    padding: 5px;
    border: 3px solid white;
    border-radius: 5px;
    align-self: flex-end;
}
#reel-create-form{
    margin-top: 100px;
}
#reel-create-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.reel-title input,
.reel-caption textarea {
    background: #cccfdb;
    padding: 10px 5px;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
}

.reelcreate-submit{
    padding: 10px 20px;
    background: #cccfdb;
    color: black;
    border-radius: 5px;
    font-size: 1.5rem;
}

.new-capture-alert {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    height: 130px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-right: 15px;
}


.reel {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    background: #30323a;
    color: white;
    margin-bottom: 5px;
}

/* reel info */
.reel-name-container{
    display: flex;
    align-items: center;
}
.reel-name {
    font-size: 2.5rem;
    padding: 10px 0;
    color: white;
    font-weight: 200;
}
.delete-reel{
    margin-left: 10px;
}
.delete-reel > button{
    color: white;
    font-size: 1.8rem;
}

.reel-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reel-count-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20px;
    padding-top: 10px;
}

.reel-count-info div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

/* captures box */
.captures {
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 60%;
    margin-right: 15px;
}
.capture-date{
    color: white;
}

.capture-container {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-capture{
    min-height: 100px;
    min-width: 100px;
    margin-bottom: 10px;
    position: relative;
}
/* .prof-cap-img{
    position: absolute;
    height: 100%;
    width: 100%;
} */
.prof-cap-overlay{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: #0000006b;
}
.prof-cap-overlay > span{
    font-size: 3rem;
}

.capture-container a {
    font-size: 1.9rem;
    margin-bottom: 10px;
    color: color;
}

.captures::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* reel buttons */
.cap-and-buttons {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.reel-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 25px;
    padding-bottom: 20px;
    width: 115px;
    text-align: center;
}

.capture-btn {
    padding: 10px 0;
    font-size: 1.5rem;
    background: #cccfdb;
    border-radius: 10px;
    color: #1c1e22;
    font-weight: 400;
}

/*** CAPTURE CREATION ***/
#capture-form-div{
    margin-top: 20px;
    background: #30323a;
    color: #ebebeb;
    padding-bottom: 15px;
    margin-bottom: 45px;
}

#entry-choices {
    margin: 25px 0 0 5%;
    color: white;
    display: flex;
    font-size: 1.6rem;
}
#entry-choices-container h1{
    padding: 15px 0 0 5%;
    font-size: 2.0rem;
}

.entry-choice {
    color: black;
    width: 20%;
    padding: 15px 10px 20px 10px;
    background: #656a74;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1px;
    position: relative;
    font-size: 1.35rem;
    font-weight: 400;
}

.entry-choice.enabled {
    /* border: 4px solid #546585; */
    background: #ebebeb;
}

.hidden {
    display: none;
}

.capture-form-container{
    margin: 5%;
    margin-top: -7px;
    padding: 5%;
    background: #ebebeb;
    color: black;
    border-radius: 5px;
    position: relative;
    z-index: 5;
}

.capture-form-container h2{
    font-size: 2rem
}

#description{
    height: 200px;
}

.capture-form div {
    display: flex;
    color: white;
    flex-direction: column;
    margin: 10px 0;
}

.form-control {
    padding: 5px;
    color: black;
    background: white;
    font-size: 1.5rem;
}
#imageUpload{
    padding: 0;
    border: 1px solid black;
    border-radius: 4px;
}
#imageUpload::-webkit-file-upload-button{
    padding: 10px;
    background: #30323a;
    color: white;
    border: none;
    margin-right: 10px;
}

.capform-label {
    color: black;
    font-size: 1.8rem;
    margin-bottom: 3px;
}
.capform-label span{
    font-size: 1.4rem;
    color: #30323a;
    margin-left: 5px;
}

.capture-submit {
    padding: 10px 50px;
    margin-top: 10px;
    border-radius: 5px;
    background: #30323a;
    color: white;
}

#return-to-prof{
    margin: 20px 0 0 5%;
    padding: 15px 40px;
    color: #ebebeb;
    background: #30323a;
    border-radius: 10px;
    /* border: 2px solid #ebebeb; */
    font-size: 1.5rem;
}
#return-to-prof:hover{
    border: 2px solid #ebebeb;
}
/*** view reel ***/

.vreel-userinfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    color: #ebebeb;
}

#vreel-user {
    display: flex;
    align-items: center;
}

#vreel-user>* {
    margin-right: 10px;
}
.view-return{
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 1.5rem;
}

.mini-profile-pic {
    height: 50px;
    width: 50px;
    border: 2px solid #ebebeb;
    border-radius: 50px;
}

#vreel-user h1 {
    font-size: 2.5rem;
}

#vreel-user h2 {
    font-size: 2.0rem;
}

.cap-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

.cap-title{
    font-size: 2.7rem;
}

.date {
    font-size: 1.8rem
}

.cap {
    margin: 15px 0;
    padding-bottom: 15px;
    background: #30323a;
    color: #ffffef;
}
.cap:first-of-type {
    margin-top: 0;
}

.cap-image-tag {
    height: 400px;
    width: 100%;
    object-fit: contain;
    border-bottom: 1px solid #4a4a4a;
    border-top: 1px solid #4a4a4a;
}

.cap-like-btn{
    display: flex;
    align-items: center;
    color: white;
}
.cap-like-btn span{
    margin-right: 3px;
    font-size: 1.8rem;
}
.cap-like-btn .cap-like-svg, .cap-delete{
    font-size: 2.1rem;
    color: white;
    margin-right: 0;
}

.cap-btns {
    display: flex;
    align-items: center;
    width: 150px;
    font-size: 2.5rem;
    padding: 0 15px;
}
.cap-btns > *{
    margin-right: 15px;
}

.cap-btns svg {  
    height: 25px;
    width: 25px;
    fill: white;
}

.cap-caption-container {
    padding: 0 20px;
    margin: 15px 0;
}

.cap-caption {
    font-size: 1.8rem;
    font-weight: 200;
}

.caption-username {
    font-weight: 400;
}

.cap-text-description{
    padding: 0 20px 15px 20px;
    font-size: 1.6rem;
    line-height: 20px;
}

.link-image-container {
    height: 145px;
    position: relative;
}

.shadow {
    -moz-box-shadow: inset 0 -40px 60px -10px #000000;
    -webkit-box-shadow: inset 0 -40px 60px -10px #000000;
    box-shadow: inset 0px -40px 60px -10px #000000;
    z-index: 1;
    width: 100%;
    height: 145px;
    position: absolute;
    transition: box-shadow .2s ease-in;
}
.shadow:hover{
    box-shadow: inset 0 -60px 70px -10px #000000;
}

.link-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
}
.linkinfo-container{
    background: #3b3c46;
    color: white;
    padding: 10px;
}
.link-domain {
    font-size: 1.6rem;
}

.link-title {
    font-size: 2.1rem;
}

.link-description {
    font-size: 1.5rem;
    margin-top: 5px;
}

#no-captures-alert{
    display: flex;
    justify-content: center;
    text-align: center;
}
#no-captures-alert p{
    font-size: 2rem;
    padding: 0 20px;
    margin-top: 29px;
    color: #ebebeb;
}
.create-capture-alert{
    color: #99a6e7;
    border-bottom: 1px dotted #99a6e7;
}

/*** EDIT PROFILE EJS ***/
#top-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin: 10px 0;
}
#cancel-edits{
    color: #ebebeb;
    font-size: 1.6rem;
}
#top-div h1{
    font-size: 1.8rem;
    color: #ebebeb;
}
#submit-edits{
    color: #5f76c3;
    font-size: 1.6rem;
}
#edit-profile-form{
    margin-top: 50px;
}
#ep-img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#pp-upload-label{
    color: #ebebeb;
    font-size: 1.5rem;
    margin-top: 15px;
}
#ep-input-image[type="file"]{
    display: none;
}

#ep-info-container{
    margin: 20px 0;
    padding: 10px 10px;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
}
#ep-info-container > div{
    display: flex;
    align-items: center;
}
.ep-label-container{
    width: 20%;
}
.edit-profile-label{
    font-size: 1.5rem;
    color: #ebebeb;
}
.ep-input{
    color: #ebebeb;
    border-top: 1px solid #4a4a4a;
    width: 80%;
    padding: 15px 0;
}
#ep-name{
    border-top: none;
}