/*** BASE STYLES ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
}

/* .stop-scroll{
    height: 100%;
    overflow: hidden;
} */

/*** HEADER ***/

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    background: #fffffe;
}
#logoInfo{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
#logo{
    padding: 0 5px;
}
#appName{
    font-size: 3rem;
}
#search{
    display: none;
}
#notif{
    display: none;
}
#userInfo{
    width: 125px;
    display: flex;
    justify-content: space-evenly;
}
#userInfo span{
    font-size: 30px;
    padding-top: 3px;
    color: black;
}
#userInfo svg{
    height: 35px;
    width: 28px;
}

.profile-settings{
    /* transform: translateX(); */
    height: 0;
    width: 0;
    color: white;
    background: rgba(0, 0, 0, 0.496);
    position: absolute;
    transform: translate3d(100%, -70px, 0);
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .65s ease-in-out;
}
.profile-settings.hide{
    visibility: visible;
    height: 100vh;
    width: 100%;
    transform: translate3d(0, -70px, 0);
}
.profile-settings a, .profile-settings span{
    font-size: 2.4rem;
    color: white;
    border-bottom: 2px solid white;
}

/*** INDEX ***/

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
    background: linear-gradient(to top right, #a57e7e, #384e97);
}
#mainContainer{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
    padding: 15% 0;
    /* background: #00000070; */
    border-radius: 5px;
}
#mainContainer a{
    color: black;
    padding: 15px 30px;
    width: 75%;
    text-align: center;
    font-size: 2rem;
    border-radius: 5px;
    background: #ffffffd6;
}
#mainContainer span{
    margin: 5% 0;
    font-size: 1.7rem;
    color: white;
}

/*** LOGIN ***/

#loginMain, #signupMain{
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to top right, #a57e7e, #384e97);
}
#loginContainer, #signupContainer{
    margin-bottom: 30%;
    background: #000000a1;
    padding: 10%;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.form-label{
    color: white;
    margin-bottom: 5px;
    font-size: 1.8rem;
}
.loginDiv, .signupDiv{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.loginDiv input, .signupDiv input{
    padding: 5% 0 5% 7.5px;
    background: #e1e1e1;
}
.loginbtn, .signupbtn{
    color: black;
    padding: 10px 0;
    background: #e1e1e1;
    width: 50%;
    margin-top: 10px;
}
.form-text{
    color: white;
    font-size: 1.5rem;
    margin-top: 5px;
}

#loginRedirect, #signupRedirect{
    align-self: center;
    margin-top: 25px;
    color: white;
    text-decoration: underline;
    font-size: 1.6rem;
}

/*** PROFILE ***/

#user-bio{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#user-bio>section{
    display: flex;
    justify-content: space-around;
}
#user-bio h1{
    font-size: 2.8rem;
    margin: 0 0 5px 8%;
}
#profile-pic{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50px;
}
#friend-count-container{
    display: flex;
    justify-content: flex-start;
    width: 50%;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}
#friend-count{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#friend-count div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#external-links{
    color: rgb(72, 99, 141);
    font-size: 1.7rem;
    margin-top: 10px;
}
.count{
    font-size: 1.8rem;
}
.count + span{
    font-size: 1.3rem;
}
#link-icon{
    font-size: 1.2rem;
    margin-left: 2px;
}
#bio-desc{
    padding: 0 8%;
    margin: 10px 0;
    font-size: 1.8rem;
}
#activ{
    padding: 0 8%;
}
#activ h2{

}
#activ-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}
#activ-list li{
    padding: 8px 10px;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 10px;
}
#activ-list a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
#new-reel-btn{
    text-align: center;
    border: 1px solid black;
    width: 60%;
    margin: 0px 20% 15px 20%;
    padding: 10px 0;
    border-radius: 5px;
    color: black;
    font-size: 1.4rem;
}

#reel-form-container{
    background: #383d4e;
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    top: 300px;
    z-index: 1;
}
#reel-create-form div{
    display: flex;
    flex-direction: column;
}
.reel-title input, .reel-caption textarea{
    background: white;
}
.new-capture-alert{
    display: flex;
    justify-content: center;
    align-items: center;
}


.reel{
    display: flex;
    /* padding: 5%; */
    flex-direction: column;
    border-bottom: 1px solid black;
    /* height: 180px; */
    padding-left: 5%;
}
/* reel info */
.reel-name{
    font-size: 2.5rem;
    padding: 10px 0;
    color: black;
}
.reel-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reel-count-info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 20px;
}
.reel-count-info div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

/* captures box */
.captures{
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 60%;
}
.capture-container{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.capture-container div{
    min-height: 100px;
    min-width: 100px;
    border: 1px solid black;
    margin-bottom: 10px;
}
.capture-container a{
    font-size: 1.9rem;
    margin-bottom: 10px;
    color: black;
}
.captures::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

/* reel buttons */
.cap-and-buttons{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.reel-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 25px;
    padding-bottom: 40px;
}
.capture-btn{
    border: 1px solid black;
    padding: 5px 20px;
    font-size: 1.5rem;
    border-radius: 15px;
    color: black;
}

/*** CAPTURE CREATION ***/
#capture-form-div{

}
#capture-form{

}
#capture-form div{
    display: flex;
    color: black;
    flex-direction: column;
}
.form-control{
    border: 1px solid black;
}
.capform-label{
    color: black;
}
.capture-submit{
    margin: 5%;
}